@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper {
    background-color: #fff;
    width: 450px;
    border-radius: 12px;
    box-shadow: 0px 10px 10px -10px;
}

.form {
    padding: 30px 30px 20px;
}

/* Landing Page CSS */
.form .controls form{
    padding: 20px 0;
    display: flex;
    width: 100%;
}

.form .controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form .controls .button{
    width: calc(100% / 2 - 10px);
}

.controls .button form input {
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #303030;
}

.form .controls .loginbtn {
    background-color: #fff;
    color: #303030;
}
    .form .controls .loginbtn:hover {
        background-color: #303030;
        color: #fff;
        transition: .3s ease;
    }

.form .controls .signupbtn {
    background-color: #303030;
    color: #fff;
}
    .form .controls .signupbtn:hover {
        background-color: #fff;
        color: #303030;
        transition: .3s ease;
    }

/* Signup and Login form css */
.header {
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
}

.header label {
    font-size: 20px;
    font-weight: 500;
}

.content {
    flex-direction: column;
    margin: 10px 0;
}

.content .success-field {
    height: 35px;
    border-radius: 4px;
    text-align: center;
    background: #ecffd6;
    border: 1px solid #617c42;
}

.content .success-field span {
    line-height: 35px;
    font-size: 12px;
    font-weight: 400;
    color: #2b7515;
}

.content .error-field {
    height: 35px;
    background: #ffe0e0;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #a33a3a;
}

.content .error-field span {
    line-height: 35px;
    font-size: 12px;
    font-weight: 400;
    color: #ba3939;
}

.content form .input-field {
    padding: 8px 0;
}

.content .input-field label {
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0;
}

.content .input-field input {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    outline: solid 1px #ccc;
    border-style: none;
    margin-top: 4px;
    padding: 0 16px;
}
#showPwd {
    position: absolute;
    cursor: pointer;
    transform: translateY(90%);
    margin-left: -30px;
    color: #303030;
}

.content .input-field input:valid,
.content .input-field input:focus {
    outline: solid 1px #303030;
    transition: 0.3s ease;
}

.content .input-field .submit {
    background-color: #303030;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}

.content .input-field .submit:hover {
    opacity: .8;
    transition: .3s ease;
}

.content .link {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

.content .link a{
    text-decoration: none;
}

.content .link a:hover{
    text-decoration: underline;
}

/* Home Page CSS */
.container {
    margin: 20px;
    width: 800px;
    border-radius: 12px;
}

.container .panels {
    display: flex;
    justify-content: space-between;
    height: 500px;
}
.container .l-wing{
    background-color: #fff;
    width: calc(40% - 5px);
    border-radius: 12px 2px 2px 12px;
    box-shadow: 0px 10px 10px -10px;
}

.container .r-wing{
    background-color: #fff;
    width: calc(60% - 5px);
    border-radius:  2px 12px 12px 2px;
    box-shadow: 0px 10px 10px -10px;
}

/* Left Wing */
.panels .l-wing .l-header {
    padding: 14px 10px;
    border-bottom: solid 1px #ccc;
    display: flex;
}

.panels .l-wing .l-header .c-img {
    width: calc(20% - 5px);
}

.panels .l-wing .l-header .c-img img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.panels .l-wing .l-header .user-info{
    width: calc(60% - 5px);
    display: flex;
    flex-direction: column;
}

.panels .l-wing .l-header .user-info .user {
    display: flex;
}

.panels .l-wing .l-header .user-info h4{
    font-size: 14px;
    font-weight: 600;
}

.panels .l-wing .l-header .user-info .user p{
    font-style: italic;
    font-size: 12px;
    color: #606060;
    line-height: 20px;
}

.panels .l-wing .l-header .user-info .status p{
    font-size: 12px;
    color: #303030;
    font-weight: 400;
}

.panels .l-wing .l-header .user-info .status i {
    transform: translateY(-20%);
    color: green;
    font-size: 6px;
}

.panels .l-wing .l-header .logout-btn {
    width: calc(20% - 5px);
}

    .panels .l-wing .l-header .logout-btn:hover {
        opacity: .8;
        transition: .3s ease;
    }

.panels .l-wing .l-header .logout-btn form input{
    outline: none;
    border: none;
    padding: 6px 12px;
    font-size: 12px;
    background-color: #303030;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.panels .l-wing .l-content {
    margin-top: 10px;
    padding: 0 10px;
}
.panels .l-wing .l-content .search {
    padding: 0 10px;
}

.panels .l-wing .l-content .search form{
    display: flex;
    justify-content: space-between;
}

.panels .l-wing .l-content .search input {
    outline: none;
    border: solid 1px #ccc;
    height: 30px;
    padding: 0 14px;
    width: calc(100% - 40px);
    border-radius: 4px 0 0 4px;
}
    .panels .l-wing .l-content .search input:focus {
        border: solid 1px #303030;
        transition: .3s ease;
    }

.panels .l-wing .l-content .search button {
    border-style: none;
    background-color: #303030;
    color: #fff;
    width: 38px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
    .panels .l-wing .l-content .search button:hover {
        opacity: .8;
        transition: .3s ease;
    }

.panels .l-wing .l-content .f-list {
    margin-top: 10px;
    max-height: 310px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 340px;
}

.panels .l-wing .l-content .f-list::-webkit-scrollbar {
    display: none;
  }

.panels .l-wing .l-content .f-list .card {
    height: 60px;
    padding: 10px 0;
    border-bottom: solid 1px #ccc;
    
}

.panels .l-wing .l-content .f-list a {
    text-decoration: none;
    display: block;
}

.panels .l-wing .l-content .f-list a:hover,
.panels .l-wing .l-content .f-list a:active {
    background-color: #f7f7f7;
}

.panels .l-wing .l-content .f-list .card .c-content {
    display: flex;
}

.panels .l-wing .l-content .f-list .card .c-content .c-img {
    margin-right: 5px;
    transform: translateY(-5%);
}

.panels .l-wing .l-content .f-list .card .c-content img{
    width: 35px;
    height: 35px;
    border: solid 2px #303030;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 5px;
    transform: translateY(10%);
}

.panels .l-wing .l-content .f-list .card .c-content .c-name {
    margin: 0 5px;
    white-space: nowrap;
    overflow: hidden;
}

.panels .l-wing .l-content .f-list .card .c-name h4 {
    font-size: 12px;
    font-weight: 500;
    color: #303030;
}

.panels .l-wing .l-content .f-list .card .c-name p {
    font-size: 10px;
    color: #606060;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panels .l-wing .l-content .add-user {
    padding: 4px 0;
}

.panels .l-wing .l-content .add-user label {
    font-size: 12px;
    font-weight: 600;
}

.panels .l-wing .l-content .add-user form {
    display: flex;
    justify-content: space-between;
}

.panels .l-wing .l-content .add-user form input{
    padding: 0 14px;
    font-size: 12px;
    height: 25px;
    border-style: none;
    border-bottom: solid 1px #ccc;
}
    .panels .l-wing .l-content .add-user form input:focus {
        outline: none;
        border-bottom: solid 1px #303030;
    }

.panels .l-wing .l-content .add-user form .uname {
    width: calc(50% - 10px);
}

.panels .l-wing .l-content .add-user form .ucode {
    width: calc(30% - 10px);
}

.panels .l-wing .l-content .add-user form button {
    border-style: none;
    background-color: transparent;
    color: #303030;
    width: 34px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.panels .l-wing .l-content .add-user form button:hover {
    opacity: .8;
    transition: .3s ease;
}

/* Right Wing */
.panels .r-wing .r-header {
    display: flex;
    border-bottom: solid 1px #ccc;
    padding: 14px 10px;
}

.panels .r-wing .r-header .c-img img{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.panels .r-wing .r-header .user-info {
    padding: 0 10px;
}

.panels .r-wing .r-header .user-info h4 {
    font-size: 14px;
    font-weight: 500;
}

.panels .r-wing .r-header .user-info p {
    font-size: 12px;
    font-weight: 400;
    color: green;
}

.panels .r-wing .r-content .chat-area {
    height: 360px;
    background-color: #f7f7f7;
    padding: 0 20px 0 10px;
    display: block;
    flex-direction: column; 
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.chat-area .outgoing, .chat-area .incoming{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.chat-area .outgoing .details {
    color: #fff;
    margin-left: auto;
    justify-content: flex-start;
    max-width: calc(100% - 220px);
}

.chat-area .outgoing p {
    padding: 6px 14px;
    font-size: 12px;
    background-color: #303030;
    color: #fff;
    border-radius: 12px 12px 0 12px;
    word-wrap: break-word;
}

.chat-area .incoming img {
    margin-right: 10px;
}

.chat-area .incoming .details {
    color: #303030;
    margin-right: auto;
    justify-content: flex-end;
    max-width: calc(100% - 220px);
}

.chat-area .incoming img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-area .incoming .details p{
    padding: 6px 14px;
    font-size: 12px;
    background-color: #ccc;
    color: #303030;
    border-radius: 12px 12px 12px 0;
    word-wrap: break-word;
}

.panels .r-wing .control-area {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-top: solid 1px #ccc;
}

.panels .r-wing .control-area input{
    border: solid 1px #ccc;
    outline: none;
    border-radius: 6px 0 0 6px;
    height: 35px;
    width: calc(100% - 42px);
    padding: 0px 14px;
    font-size: 12px;
    overflow-wrap: break-word;
    word-break: break-all;
}
    .panels .r-wing .control-area input:focus,
    .panels .r-wing .control-area input:active {
        border: solid 1px #303030;
    }

.panels .r-wing .control-area i{
    background-color: #303030;
    color: #fff;
    height: 35px;
    width: 40px;
    border-radius: 0 6px 6px 0;
    justify-content: center;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
    .panels .r-wing .control-area i:hover{
        background: transparent;
        border: none;
        color: #303030;
        font-size: 24px;
        transition: .2s linear;
    }